###> symfony/framework-bundle ###
.env
/public/bundles/
/public/build/
/public/uploads/*
!/public/uploads/.gitkeep
/var/
/vendor/
yarn-error.log
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###

###> friendsofphp/php-cs-fixer ###
.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
