<footer>
    <div class="container-fluid py-5 mt-5 mb-0 bg-secondary text-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-4 border border-bottom-0 border-top-0 border-left-0 border-dark">
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-dark">Mon CV</a></li>
                        <li><a href="#" class="text-dark">Mes réalisations</a></li>
                        <li><a href="#" class="text-dark">Mes photos</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-center border border-bottom-0 border-top-0 border-left-0 border-dark pt-4">
                    <a href="#" class="text-dark">Contactez-moi</a>
                </div>
                <div class="col-md-4 text-right">
                    <h5 class="h6">Retrouvez-moi sur les réseaux sociaux</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-3 mt-0 bg-dark text-white">
        <div class="row justify-content-between">
            <div class="col-4 align-self-center">
                <p class="m-0">© Chubbycoon {{ 'now'|date('Y') }}</p>
            </div>
            <div class="col-4 align-self-center">
                <p class="pull-right m-0">
                    <a href="#">Mentions légales</a>
                </p>
            </div>
        </div>
    </div>
</footer>
