<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Chubbycoon{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
</head>
<body>
    <div class="container-fluid p-0">
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
        <script type="application/javascript" src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
</body>
</html>
